@use "presets/presets.scss" as presets;

.feed {
    @include presets.flex-col-center();
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: presets.$gray-100;
}

.feed_posts {
    @include presets.flex-col-center();
}

.clip_loader {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

