@use "presets/presets.scss"as presets;

.login_form {
    @include presets.flex-col-center();
    @include presets.shadow-2xl();
    height: 24rem;
    width: 20rem;
    padding: 1.25rem;
    margin-top: 4rem;
    background-color: presets.$gray-200;
    border-width: 0px;
    border-radius: 1.5rem;
}

.login_form_text {
    font-weight: bold;
    font-size: large;
    color: presets.$gray-700;
}

@mixin _login_form_input {
    width: 15rem;
    padding: 0.5rem 1rem;
    margin: 0.25rem 0;
    font-size: medium;
    border-bottom-width: 1px;
    border-radius: 1rem;
    color: presets.$gray-500;

    &:focus {
        @include presets.shadow();
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    &::placeholder {
        font-size: medium;
        font-style: italic;
        font-weight: 500;
        opacity: 0.5;
    }
}

.login_form_incorrect_input {
    @include _login_form_input();
    background-color: presets.$red-300;
    border-color: presets.$red-600;

    &:hover {
        background-color: presets.$red-200;
    }

    &:focus {
        background-color: presets.$red-200;
    }
}

.login_form_correct_input {
    @include _login_form_input();
    background-color: presets.$gray-200;
    border-color: presets.$gray-700;

    &:hover {
        background-color: presets.$gray-300;
    }

    &:focus {
        background-color: presets.$gray-300;
    }
}

.login_form_submit_button {
    @include presets.shadow($color: #a21caf);
    width: 9rem;
    padding: 0.5rem 0;
    margin-bottom: 0.25rem;
    margin-top: 2.25rem;
    font-size: larger;
    border-radius: 9999px;
    color: white;
    background-color: presets.$fuchsia-700;

    &:hover {
        @include presets.shadow-md($color: #a21caf);
        cursor: pointer;
    }

    &:disabled {
        @include presets.shadow();

        &:hover {
            @include presets.shadow(#a21caf);
        }
    }
}

.login_form_register_option_button {
    margin-bottom: 0.25rem;
    background-color: presets.$gray-200;
    text-decoration: underline;
    &:hover {
        color: presets.$gray-500;
        cursor: pointer;
    }
}

.login_form_register_option_text {
    color: presets.$gray-600;
    font-size: medium;
    padding: 0rem;
}