
@use "feedPage.scss";
@use "loginPage.scss";
@use "loginForm.scss";
@use "navbar.scss";
@use "presets/presets.scss" as presets;
@tailwind components;
@tailwind utilities;

html {
    line-height: 1.5;
}

body {
    @include presets.flex-col-center();
    min-height: 100vh;
    min-width: 100%;
    background-color: presets.$purple-200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin: 0;
    line-height: inherit;
}

* {
    border: 0;
    box-sizing: border-box;
}

form {
    display: block;
    margin-top: 0em;
}

a {
    text-decoration: inherit;
}

a:-webkit-any-link {
    cursor: pointer;
}

p {
    display: block;
}

.italic {
    font-style: italic;
}

.spacer {
    flex: 1 1 0%;
}