$gray-100: rgb(243 244 246);
$gray-200: rgb(229 231 235);
$gray-300: rgb(209 213 219);
$gray-400: rgb(189, 197, 202);
$gray-500: rgb(107 114 128);
$gray-600: rgb(75 85 99);
$gray-700: rgb(55 65 81);
$gray-800: rgb(31 41 55);

$red-100: rgb(253 232 232);
$red-200: rgb(251 213 213);
$red-300: rgb(248 180 180);
$red-400: rgb(249 128 128);
$red-500: rgb(240 82 82);
$red-600: rgb(224 36 3);

$fuchsia-100: rgb(250 232 255);
$fuchsia-400: rgb(232 121 249);
$fuchsia-700: rgb(162 28 175);
$fuchsia-900: rgb(112 26 117);

$purple-200: #e9d5ff;

$dark-blue : #5680E9;
$light-blue: #84ceeb;
$mid-blue: #5ab9ea;
$ultralight-purple: #dee2f7;
$light-purple: #c2c8e4;
$purple: #8860d0;
$incorrect-input: #ec98ab;